Parsed function:System_Ip_GetPlatformRevision
Parsed function:System_Ip_ClearWriteAbortFlag
Parsed function:System_Ip_ConfigIrq
Parsed function:System_Ip_SetAhbSlavePriority
Parsed function:System_Ip_ConfigIrqPrivileged
Parsed function:System_Ip_SetAhbSlavePriorityPrivileged
Dump after hash based groups
Congruence classes: 6 (unique hash values: 6), with total: 6 items
Class size histogram [num of members]: number of classe number of classess
[1]: 6 classes


Dump after WPA based types groups
Congruence classes: 6 (unique hash values: 6), with total: 6 items
Class size histogram [num of members]: number of classe number of classess
[1]: 6 classes


Worklist has been filled with: 2
Address reference subdivision created: 0 new classes.
Dump after callgraph-based congruence reduction
Congruence classes: 6 (unique hash values: 6), with total: 6 items
Class size histogram [num of members]: number of classe number of classess
[1]: 6 classes


Init called for 0 items (0.00%).
Dump after full equality comparison of groups
Congruence classes: 6 (unique hash values: 6), with total: 6 items
Class size histogram [num of members]: number of classe number of classess
[1]: 6 classes


Worklist has been filled with: 2
Address reference subdivision created: 0 new classes.
Congruence classes: 6 (unique hash values: 6), with total: 6 items
Class size histogram [num of members]: number of classe number of classess
[1]: 6 classes



Item count: 6
Congruent classes before: 6, after: 6
Average class size before: 1.00, after: 1.00
Average non-singular class size: 0.00, count: 0
Equal symbols: 0
Fraction of visited symbols: 0.00%

System_Ip_GetPlatformRevision ()
{
  short unsigned int _2;
  long unsigned int _3;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG INLINE_ENTRY System_Ip_GetPlatformRevisionPrivileged
  # DEBUG BEGIN_STMT
  _2 ={v} MEM[(struct MCM_Type *)3758620672B].PLREV;
  _3 = (long unsigned int) _2;
  return _3;

}


System_Ip_ClearWriteAbortFlag ()
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG INLINE_ENTRY System_Ip_ClearWriteAbortFlagPrivileged
  # DEBUG BEGIN_STMT
  MEM[(struct MCM_Type *)3758620672B].ISCR ={v} 32;
  return;

}


System_Ip_ConfigIrq (System_Ip_IrqType eIrq, boolean bEnable)
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  System_Ip_ConfigIrqPrivileged (eIrq_2(D), bEnable_3(D));
  return;

}


System_Ip_SetAhbSlavePriority (boolean bPriority)
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  System_Ip_SetAhbSlavePriorityPrivileged (bPriority_2(D));
  return;

}


System_Ip_ConfigIrqPrivileged (System_Ip_IrqType eIrq, boolean bEnable)
{
  uint32 regValTemp;
  long unsigned int _1;
  long unsigned int _2;
  long unsigned int _3;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  regValTemp_6 ={v} MEM[(struct MCM_Type *)3758620672B].ISCR;
  # DEBUG regValTemp => regValTemp_6
  # DEBUG BEGIN_STMT
  regValTemp_7 = regValTemp_6 & 4294967263;
  # DEBUG regValTemp => regValTemp_7
  # DEBUG BEGIN_STMT
  if (bEnable_8(D) != 0)
    goto <bb 3>; [50.00%]
  else
    goto <bb 4>; [50.00%]

  <bb 3> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  _1 = 1 << eIrq_9(D);
  regValTemp_11 = _1 | regValTemp_7;
  # DEBUG regValTemp => regValTemp_11
  goto <bb 5>; [100.00%]

  <bb 4> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  _2 = 1 << eIrq_9(D);
  _3 = ~_2;
  regValTemp_10 = _3 & regValTemp_7;
  # DEBUG regValTemp => regValTemp_10

  <bb 5> [local count: 1073741824]:
  # regValTemp_4 = PHI <regValTemp_11(3), regValTemp_10(4)>
  # DEBUG regValTemp => regValTemp_4
  # DEBUG BEGIN_STMT
  MEM[(struct MCM_Type *)3758620672B].ISCR ={v} regValTemp_4;
  return;

}


System_Ip_SetAhbSlavePriorityPrivileged (boolean bPriority)
{
  long unsigned int _1;
  long unsigned int _2;
  long unsigned int _3;
  long unsigned int _4;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  if (bPriority_6(D) != 0)
    goto <bb 3>; [50.00%]
  else
    goto <bb 4>; [50.00%]

  <bb 3> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  _1 ={v} MEM[(struct MCM_Type *)3758620672B].CPCR;
  _2 = _1 | 134217728;
  MEM[(struct MCM_Type *)3758620672B].CPCR ={v} _2;
  goto <bb 5>; [100.00%]

  <bb 4> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  _3 ={v} MEM[(struct MCM_Type *)3758620672B].CPCR;
  _4 = _3 & 4160749567;
  MEM[(struct MCM_Type *)3758620672B].CPCR ={v} _4;

  <bb 5> [local count: 1073741824]:
  return;

}


